name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew testDebugUnitTest

      - name: Generate JaCoCo coverage report
        run: ./gradlew jacocoAggregationCoverageReport

      # It finds the generated HTML coverage report and uploads it as a build artifact.
      - name: Upload All Coverage Reports
        uses: actions/upload-artifact@v4
        with:
         name: individual-coverage-reports
         # The path points to the directory containing the HTML report.
         path: '**/build/reports/jacoco/createDebugCoverageReport'

      - name: Add Coverage Comment to PR
        uses: madrapps/jacoco-report@v1.6.1
        with:
          # Using a wildcard to find all individual xml reports
          # The action will check each one against the threshold
          paths: '**/build/reports/jacoco/createDebugCoverageReport/createDebugCoverageReport.xml'
          # The minimum coverage percentage required for the entire project
          min-coverage-overall: 20
          # The token is required to post a comment on the pull request
          token: ${{ secrets.GITHUB_TOKEN }}
          # Optional: Customize the title of the comment
          title: "Each Module Code Coverage Report"
          # By setting this to false, the workflow will fail if any module is below
          # the coverage threshold, making the failure visible and explicit.
          continue-on-error: false

      - name: Run lint
        run: ./gradlew lintDebug

      - name: Upload Lint Report
        uses: actions/upload-artifact@v4
        with:
          name: lint-report
          path: '**/build/reports/lint-results-debug.html'

      - name: Build with Gradle
        run: ./gradlew assembleDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
